*{
    margin: 0;
    padding: 0;
}
html,
body{
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
}
.container{
    min-width: 1000px;
    max-width: 1366px;
    margin: 0 auto;
    min-height: 100%;
}

.header li{
    list-style-type: none;   
}
.header{
    max-width: 1100px;
    min-width: 800px;
    display: flex;
    justify-content: space-between;
    padding-left: 98px;
    margin-bottom: 20px;
}
.menu-top{
    display: flex;
    align-items: center;
    width: 550px;
    justify-content: flex-end;
}
.top-list1 {
    width: 210px;
}

.top-list3 {
  width: 131px;
}

.top-link{
    text-decoration: none;
    color: #8c8c8c;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 13px;
    letter-spacing: 1.4px;
}
.top-link:hover{
    color: #212121;
}

.top-link:hover{
    color: #212121;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.4px;
    border-bottom: 3px solid #212121;


}

.main{
    width: 1136px;
    display: flex;
    margin-left: 98px;
    justify-content: space-between;
    text-align: center;
}
.image-main {
    margin: auto;
}
.login {
    margin-top: 200px;
    text-align: center;

}
.text-main{
    width: 510px;
    text-align: center;
    margin-top: 47px;
}

.text-main h3{
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}
    
.hot {
    color: #e53935;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.8px;
    margin-top: 23px;
    margin-bottom: 30px;
}
.text {
    color: #212121;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    text-align: left;
    margin-top: 24px;
    margin-left: 6px;
    
}
.button{
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 35px;
    background-color: #f44336;
    display: inline-block;
    height: 71px;
    width: 510px;
    margin-top: 31px;
    margin-bottom: 50px;
    outline: none;
    border: none;
}

.button:active{
    box-shadow: none;
}

.button-text{
    color: #ffffff;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 4.4px;
}
.button-text img{
    margin-left: 25px;
}
.auth_button {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    height: 30px;
    width: 180px;
}
.auth_button:active{
    box-shadow: none;
}
span{
    color: #212121;
    font-size: 36px;
    font-weight: 300;
    font-size: 72px;
    text-transform: uppercase;
}

.cost{
    font-size: 36px;
}
.products{
    padding-top: 245px;
}
.header-Related{
    width: 1169px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: flex-end;
}
.Related-menu2 a{
    text-decoration: none;
    color: #6c6c6c;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3.6px;
}

.Related-menu2 a:hover{
    text-shadow: 0 3px 1px rgba(33, 33, 33, 0.35);
    color: #000;
}
.Related-menu2 a:active{
    text-shadow: none;
}
.Related-menu2 a img{
    margin-left: 12px;
    padding-bottom: 1px;
}

.Related-content{
    width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 68px;
}
.related-image img:hover{
    box-shadow: 2px 2px 5px 1px rgba(33, 33, 33, 0.35);
}
.related-image img:active{
    box-shadow: none;
}
.header-Related h2{
    color: #212121;
    font-size: 36px;
    font-weight: 700;
}

.footer-footer{
    display: flex;
    width: 1171px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.clr{
    height: 50px;
}

.topLink {
    text-decoration: none;
    color: #8c8c8c;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 300;
}


.product .productImg {
    margin: 20px 20px;
}
.product .productImg:hover {
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
}
.product .productImg:active {
    box-shadow: none;
}

.footer-footer p{
    margin: auto;
    padding-top: -50px;
}


